@import url(./normalize.css);
@import url(./vars.css);
@import url(./fonts.css);
@import url(./media.css);

*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

ul,
li {
    list-style-type: none;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: var(--background);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: 22px;
    line-height: 140%;
    color: var(--text-color);
    overflow-x: hidden;

    /* outline: 1px solid green; */
}

body::-webkit-scrollbar {
    background: inherit;
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid #9e0b37;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #8a2645;
}

body::-webkit-scrollbar-corner {
    display: none;
}

.header {
    margin-bottom: 100px;
}

.header__top {
    /* height: 80px; */
    background: linear-gradient(132deg, #9e0b37 0%, #ffc531 71.98%, #9e0b37 100%);
    z-index: 10;
}

.container  {
    max-width: 1420px;
    margin: 0 auto;
    
    /* outline: 1px solid green; */
}

.menu {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu__list,
.menu__auth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.menu__list {
    gap: 84px;
}

.menu__auth {
    gap: 42px;
}

.menu__link {
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu__link:hover {
    transform: scale(0.98);
    opacity: 0.8;
}

.menu__link--first {
    position: relative;
}

.menu__link--first::after {
    position: absolute;
    content: "";
    background-image: url(../assets/icons/down_arrow.svg);
    width: 5px;
    height: 12px;
    left: 123px;
    top: 4px;
}

.menu__link--second {
    font-family: var(--second-family);
    font-weight: var(--font-weight-regular);
    font-size: 16px;
}

.menu__link--btn {
    width: 160px;
    height: 49px;
    padding: 16px 24px;
    border-radius: 40px;
    box-shadow: inset 4px 4px 6px 0 rgba(255, 255, 255, 0.5), 4px 4px 20px 0 rgba(223, 80, 23, 0.8);
    background: rgba(158, 11, 55, 0.7);
    font-size: 17px;
}

.header__title {
    position: relative;
    width: 100%;
    /* max-width: 1920px; */
    height: 650px;
    margin: -80px auto 0;
    z-index: -10;
    transform-origin: top left;
}

.header__title::before {
    position: absolute;
    content: "";
    width: 1310px;
    /* width: 68.125%; */
    height: 648px;  
    background-image: url(../assets/img/tv-wrap_gradient.png);
    background-size: cover;
    background-position: center;
    /* background: 
        linear-gradient(150deg, 
                        #df5017 0%, 
                        rgba(223, 80, 23, 0.4) 20%, 
                        rgba(223, 80, 23, 0.3) 36%, 
                        rgba(223, 80, 23, 0.15) 50%, 
                        rgba(223, 80, 23, 0.1) 60%,  
                        rgba(223, 80, 23, 0) 70%, 
                        rgba(223, 80, 23, 0) 100%),
        linear-gradient(110deg, 
                        #282533 0%, 
                        #282533 0.01%, 
                        rgba(40, 37, 51, 0.74) 20%, 
                        rgba(40, 37, 51, 0.5) 50%, 
                        rgba(40, 37, 51, 0.3) 60%,  
                        rgba(40, 37, 51, 0) 70%,  
                        rgba(40, 37, 51, 0) 100%); */
    top: 0;
    left: 0;
    z-index: 1; 
    transform: scale(1);
}

.header__title::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, #171422 0%, rgba(23, 20, 34, 0) 50%), url(../assets/img/tv-wrap.jpg);
    /* background-image: url(../assets/img/tv-wrap.jpg); */
    background-size: cover;
    background-position: center;
    width: 1070px;
    height: 648px;
    top: 0;
    right: 0;
    margin-right: -10px;
}

.title__text {
    display: flex;
    flex-direction: column;
    height: 648px;
    justify-content: center;
    align-self: center;
}

h1 {
    font-weight: var(--font-weight-medium);
    font-size: 50px;
    line-height: 120%;
    text-transform: uppercase;
    z-index: 10;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    /* outline: 1px solid green;  */
}

.basic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 82%;
}

.basic__intro {
    /* width: 1180px;
    height: 152px; */
    border-radius: 30px;
    padding: 40px 0 50px 40px;
    margin-bottom: 60px;
    background: linear-gradient(135deg, #ffa462 0%, #b45350 21.79%, #8a2645 48.93%, #291725 84.55%);
    /* border: none; */
}

.pages {
    display: flex;
    flex-direction: column;
    width: 16%;
    gap: 10px;
}
