@import url(./normalize.css);
@import url(./vars.css);
@import url(./fonts.css);
@import url(./media.css);

*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

ul,
li {
    list-style-type: none;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: var(--background);
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: 22px;
    line-height: 140%;
    color: var(--text-color);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    background: inherit;
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid #9e0b37;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #8a2645;
}

body::-webkit-scrollbar-corner {
    display: none;
}

.header {
    margin-bottom: 100px;
}

.header__top {
    background: linear-gradient(132deg, #9e0b37 0%, #ffc531 71.98%, #9e0b37 100%);
    z-index: 10;
}

.container  {
    max-width: 1420px;
    margin: 0 auto;
    
    /* outline: 1px solid green; */
}

.menu {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu__list,
.menu__auth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.menu__list {
    gap: 84px;
}

.menu__auth {
    gap: 42px;
}

.menu__link {
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu__link:hover {
    transform: scale(0.98);
    opacity: 0.8;
}

.menu__link--first {
    position: relative;
}

.menu__link--first::after {
    position: absolute;
    content: "";
    background-image: url(../assets/icons/down_arrow.svg);
    width: 5px;
    height: 12px;
    left: 123px;
    top: 4px;
}

.menu__link--second {
    font-family: var(--second-family);
    font-weight: var(--font-weight-regular);
    font-size: 16px;
}

.menu__link--btn {
    width: 160px;
    height: 49px;
    padding: 10px 0;
    border-radius: 40px;
    box-shadow: inset 4px 4px 6px 0 rgba(255, 255, 255, 0.5), 4px 4px 20px 0 rgba(223, 80, 23, 0.8);
    background: rgba(158, 11, 55, 0.7);
    font-size: 17px;
}

.header__title {
    position: relative;
    /* width: 100%; */
    /* max-width: 1920px; */
    height: 650px;
    margin: -80px auto 0;
    z-index: -10;
    /* transform-origin: top left; */
}

.header__title::before {
    position: absolute;
    content: "";
    /* width: 1310px; */
    width: 68%;
    height: 648px;  
    background-image: url(../assets/img/tv-wrap_gradient.png);
    background-size: cover;
    background-position: center;
    /* background: 
        linear-gradient(150deg, 
                        #df5017 0%, 
                        rgba(223, 80, 23, 0.4) 20%, 
                        rgba(223, 80, 23, 0.3) 36%, 
                        rgba(223, 80, 23, 0.15) 50%, 
                        rgba(223, 80, 23, 0.1) 60%,  
                        rgba(223, 80, 23, 0) 70%, 
                        rgba(223, 80, 23, 0) 100%),
        linear-gradient(110deg, 
                        #282533 0%, 
                        #282533 0.01%, 
                        rgba(40, 37, 51, 0.74) 20%, 
                        rgba(40, 37, 51, 0.5) 50%, 
                        rgba(40, 37, 51, 0.3) 60%,  
                        rgba(40, 37, 51, 0) 70%,  
                        rgba(40, 37, 51, 0) 100%); */
    top: 0;
    left: 0;
    z-index: 1; 
    /* transform: scale(1); */
}

.header__title::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, #171422 0%, rgba(23, 20, 34, 0) 50%), url(../assets/img/tv-wrap.jpg);
    /* background-image: url(../assets/img/tv-wrap.jpg); */
    background-size: cover;
    background-position: center;
    width: 1070px;
    height: 648px;
    top: 0;
    right: 0;
    margin-right: -10px;
}

.title__text {
    display: flex;
    flex-direction: column;
    height: 648px;
    justify-content: center;
    align-self: center;
}

h1 {
    font-weight: var(--font-weight-medium);
    font-size: 50px;
    line-height: 120%;
    text-transform: uppercase;
    z-index: 10;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 54px;

    /* outline: 1px solid red;  */
}

.basic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 82%;
}

.basic__intro {
    /* width: 1180px;
    height: 152px; */
    border-radius: 30px;
    padding: 40px 0 50px 40px;
    margin-bottom: 60px;
    background: linear-gradient(135deg, #ffa462 0%, #b45350 21.79%, #8a2645 48.93%, #291725 84.55%);
}

.info__item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.info__number {
    width: 100px;
    height: 130px;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.info__number--first {
    background-image: url(../assets/icons/1.svg);
}

.info__number--second {
    background-image: url(../assets/icons/2.svg);
}

.info__number--third {
    background-image: url(../assets/icons/3.svg);
}

.info__number--fourth {
    background-image: url(../assets/icons/4.svg);
    margin-bottom: 72px;
}

.info__number--fifth {
    background-image: url(../assets/icons/5.svg);
}

.info__content {
    width: 88%;
}

.info__content--center {
    display: flex;
    align-items: center;
}

.info__text {
    margin-bottom: 40px;
}

.info__insert {
    margin-top: 40px;
    margin-bottom: 28px;
}

.info__insert--products {
    display: flex;
    flex-direction: column;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    row-gap: 20px;
}

.product__item {
    width: 268px;
    height: 62px;
    padding: 10px 0;
    border-radius: 12px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
    background: var(--text-color);
    background-position: center;
    background-repeat: no-repeat;
}

.product__item--illustrator {
    background-image: url(../assets/icons/illustrator.svg);
}

.product__item--pdf {
    background-image: url(../assets/icons/pdf.svg);
}

.product__item--premiere {
    background-image: url(../assets/icons/premiere.svg);
}

.product__item--photoshop {
    background-image: url(../assets/icons/photoshop.svg);
}

.product__item--indesign {
    background-image: url(../assets/icons/indesign.svg);
}

.product__item--effects {
    background-image: url(../assets/icons/effects.svg);
}

.products__text {
    font-size: 18px;
    text-align: right;
    margin: 20px 140px 0 0;
}

.info__insert p {
    margin-bottom: 20px;
}

.error__pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    padding-right: 46px;
    margin-bottom: 40px;
}

.error__picture--first {
    width: 272px;
    height: 186px;
    background-image: url(../assets/img/error.png);
    margin-top: -92px;
}

.error__picture--second {
    width: 278px;
    height: 204px;
    background-image: url(../assets/img/format.png);
    margin-top: -46px;
}

.error__book {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.error__arrows {
    width: 407px;
    height: 138px;
    background-image: url(../assets/icons/pdf-btn_arrows.svg);
    background-position: center;
    margin: 0 514px 26px;
}

.error__book-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.error__book {
    width: 246px;
    height: 350px;
    border-radius: 10px;
}

.error__book--first {
    background-image: url(../assets/img/book1.jpg);
}

.error__book--second {
    background-image: url(../assets/img/book2.jpg);
    position: relative;
}

.error__book--second::before {
    position: absolute;
    content: "";
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-image: url(../assets/icons/ai-btn.svg);
    top: -112px;
    left: 44px;
}

.error__book--third {
    background-image: url(../assets/img/book3.jpg);
}

.error__book--bad {
    background-image: url(../assets/img/bad-book.jpg);
    margin-left: auto;
    position: relative;
}

.error__book--bad::before {
    position: absolute;
    content: "";
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-image: url(../assets/icons/pen-btn.svg);
    top: -112px;
    left: 44px;
}

.pages {
    width: 16%;
}

.pages__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    gap: 10px;
}

.page__item {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
}

.page__item::before {
    position: absolute;
    content: "";
    width: 220px;
    height: 110px;
    border-radius: 0 0 16px 16px;
    background-image: url(../assets/img/pages_gradient.png);
    background-size: cover;
    background-position: center;
    bottom: -2px;
}

.page__item--first {
    background-image: url(../assets/img/tv.jpg)
}

.page__item--second {
    background-image: url(../assets/img/3people.jpg);
}

.page__item--third {
    background-image: url(../assets/img/1people.jpg);
}

.page__link {
    position: absolute;
    width: 207px;
    height: 35px;
    top: 170px;
    left: 6px;
    padding: 5px 44px 1px 11px;
    border-radius: 24px;
    border: 0.96px solid var(--text-color);
    background-image: url(../assets/img/pages_gradient.png);
    transition: box-shadow 0.3s ease;
}

.page__link:hover {
    box-shadow: 2px 2px 10px 0 rgba(255, 255, 255, 0.8);
}

.smaller {
    position: relative;
    font-weight: var(--font-weight-bold);
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.larger {
    position: relative;
    font-weight: var(--font-weight-bold);
    font-size: 13px;
    text-align: center;
    line-height: 1.4;
}

.larger::after {
    position: absolute;
    content: "";
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background-image: url(../assets/icons/btn-arrow.svg);
    bottom: -5px;
    left: 150px;
    z-index: 2;
}
